:root{
    --background-color1:#1F2937;
    --text-color1:#f9faf8;
}

*{
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.header{
    background-color: var(--background-color1);
    color:var(--text-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin: 0;
    
}

.header-logo{
    font-size: 24px;
    font-weight: 800;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}