:root{
    --background-color1:#1F2937;
    --text-color1:#f9faf8;
    --background-color2:#3882f6;
    --text-color2:#E5E7EB;
}

*{
    font-family: "Roboto", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.header{
    background-color: var(--background-color1);    
    display: flex;
    justify-content: center;
}

.header-content{
    box-sizing: content-box;
    width: 800px;
    color:var(--text-color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 24px;
    font-weight: 800;
    padding: 0 16px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0 16px;
}

li a{
    text-decoration: none;
    color: var(--text-color1);
}
.main{
    display: flex;
    flex-direction: column;
}

.hero{
    background-color: var(--background-color1);
    color: var(--text-color1);
    display: flex;
    justify-content: center;
}   

.hero-content{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 64px 0;
    
}

.hero-left, .hero-content img{
    box-sizing: content-box;
    max-width: 350px;
    padding: 16px;
    margin: 0;
}

.hero-left h1{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.hero-left p{
    font-size: 18px;
    color: var(--text-color2);

}

.hero-content img{
    height: auto;
    flex-shrink: 3;
}

#sign-up-btn{
    background-color: var(--background-color2);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    color: var(--text-color1);
}

.projects{
    background-color: var(--text-color1);
    display: flex;

    flex-direction: column;
    align-items: center;
}  

.projects h1{
    font-size: 36px;
    color:var(--background-color1);
    text-align: center;

}

.project-section-content{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 64px 0;
    
}

.projects-container{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.project div{
    border: var(--background-color2) solid 3px;
    border-radius: 12px;
    width: 150px;
    height:150px;

}

.project p{
    width: 150px;
    margin: 0;
    padding: 8px 16px;
    text-align: center;
    color: var(--background-color1);
}

.quote{
    background-color:var(--text-color2);
}

.quote-container{
    width:600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.quote-text{
    font-size: 36px;
    color: var(--background-color1);
    font-style: italic;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.quoter{
    margin-left: auto; 
    padding: 0;
}

